:root {
    --lightpink: #FF69B4;
    --Dark: #474747;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none;
}

body {
    background-color: var(--Dark);
    text-align: center

}
    button {
        background-color: var(--lightpink);
        color: #474747;
        border-radius: 25px;
        text-align: center;
    }
    